{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}

<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-10 col-lg-8 mt-4 offset-md-3">
          <h1>{% trans "Sign Out" %}</h3>

          <p>{% blocktrans %}Are you sure you want to sign out?{% endblocktrans %}</p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 mt-2 offset-md-4">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class="btn btn-signup right" type="submit">{% trans 'Sign Out' %}</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
