{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Main page content begins here -->
<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-9 col-md-auto card">
                <a href="{% url 'products' %}?category=deals">Best Deals</a>
                <a href="{% url 'products' %}?category=poetry,music">Poetry &amp; Music</a>
                <a href="{% url 'products' %}?category=fantasy,thriller,science_fiction">Fantasy, Thriller &amp; Science Fiction</a>
                <a href="{% url 'products' %}">All Books</a>
            </div>
        </div>
        <div class="row post-section justify-content-center">
            {% for book in books %}
            <div class="col-sm-6 col-md-5 card">
                <div class="card-body">
                    <a href="{% url 'view_book' book.uid %}">
                        <h2 class="card-title">{{ book.title }}</h2>
                        <p class="card-text">{{ book.get_description }}</p>
                        <p class="card-text">Price: €{{ book.price }}</p>
                        <p class="card-text">Rating: {{ book.stars }}/5</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}