{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-9 col-lg-8 card">
            <div class="card-body">
                <h2 class="card-title">{{ book.title }}</h2>
                <p class="card-text">{{ book.description }}</p>
                <p class="card-text">Price: €{{ book.price }}</p>
                <p class="card-text">Rating: {{ book.stars }}/5</p>
            </div>
        </div>
    </div>
</div>

<!-- Reviews section -->
<div class="container">
    {% if reviews_count >= 1 %}
    <div class="row">
        <div class="col-12 col-md-8 card justify-content-center">
            <h1>Reviews: ({{ reviews_count }})</h1>
            <h2>See what other readers have to say!</h2>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12 col-md-8 card justify-content-center">
            <h1>No reviews yet...</h1>
            <h2>This one's hot! Be the first to read and review.</h2>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}