{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-9 col-lg-8 card">
            <div class="card-body">
                <h2 class="card-title">{{ book.title }}</h2>
                <p class="card-text">{{ book.get_description }}</p>
                <p class="card-text">Price: €{{ book.price }}</p>
                <p class="card-text">Rating: {{ book.stars }}/5</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}