/* Import Google Fonts Open Sans and Oswald */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/* General styling */
/* Set site background color */
body {
    background-color: #eafdff;
}

/* Remove text decoration on links */
a {
    text-decoration: none;
}

/* Dark grey text for paragraphs */
p {
    font-family:"Open Sans", sans-serif;
    color: #324a51;
}

/* Blue text for headings */
h1, h2, h3, h4, h5, h6 {
    font-family:"Oswald", sans-serif;
    color: #007194;
}

/* Navbar styling */

/* Bright blue BG for navbar */
.navbar {
    background-color: #007194;
}

/* White large logo text */
.navbar-brand {
    font-family:"Oswald", sans-serif;
    font-size: xx-large;
    color: #eafdff;
}

/* White navbar links */
.nav-link {
    color: #eafdff;
}

/* Footer styling */

/* Dark grey background on footer */
footer {
    background-color: #324a51;
}

/* White footer text for contrast with brown */
footer p {
    color: #eafdff;
}

/* Mailchimp signup form */
#mc_embed_signup{
    background:#ffff false;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    width: 600px;
}

/* Cards have a blue background, some space between each other */
.card {
    background-color: #007194;
    margin: 0.5rem;
    min-height: 4rem;
}

/* Remove/update links on contact page have a pointer on hover */
.update-link,
.remove-item {
    cursor: pointer;
}