{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-9 col-lg-8 card">
            <div class="card-body">
                <!-- Information about the book -->
                <h2 class="card-title">{{ book.title }}</h2>
                <p class="card-text">{{ book.description }}</p>
                <p class="card-text">Price: €{{ book.price }}</p>
                <p class="card-text">Our Rating: {{ book.stars }}/5</p>

                <!-- Form to add books to the cart -->
                <form class="form" action="{% url 'add_to_cart' book.uid %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Copies (max 4 in cart):</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement btn" data-item_id="{{ book.uid }}"
                                            id="decrement_{{ book.uid }}" aria-label="Decrease quantity">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" aria-label="Input item quantity" value="1"
                                        min="1" max="4" data-item_id="{{ book.uid }}" id="id_qty_{{ book.uid }}">
                                    <div class="input-group-append">
                                        <button class="increment btn" data-item_id="{{ book.uid }}"
                                            id="increment_{{ book.uid }}" aria-label="Increase quantity">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Keep shopping/add to cart buttons -->
                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-outline-black mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5"
                                value="Add to Cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Reviews section -->
<div class="container">
    {% if num_reviews >= 1 %}
    <!-- Header if there are reviews -->
    <div class="row">
        <div class="col-12 col-md-8 card justify-content-center">
            <h1><i class="fa-regular fa-star"></i> ({{ num_reviews }})</h1>
            <h2>See what other readers have to say!</h2>
        </div>
    </div>
    {% else %}
    <!-- Reviews heading if no reviews available -->
    <div class="row">
        <div class="col-12 col-md-8 card justify-content-center">
            <h1>No reviews yet...</h1>
            <h2>This one's hot! Be the first to read and review.</h2>
        </div>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <!-- Form to write and submit reviews -->
    <div class="row">
        <div class="col-md-8 col-lg-6 mb-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa-regular fa-star"></i> Leave a Review</h2>
                    <form id="post-form" method="post">
                        {{ review_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Show a list of the reviews posted -->
    <div class="row">
        <div class="col-md-8 col-lg-6 mb-4 mt-3">
            {% for review in reviews %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ review.author }}:</h3>
                    {% if review.hidden %}
                    <p class="card-text">(Hidden)</p>
                    {% endif %}
                    <p class="card-text">{{ review.content }}</p>
                    <p class="card-text">Written on {{ review.created_on }}</p>
                    {% if user.is_authenticated and user.is_superuser %}
                    <a href="{% url 'delete_review' review.uid %}">
                        <button class="btn delete-button"><i class="fa-solid fa-trash"></i> Delete</button>
                    </a>
                    {% endif %}
                    {% if user.is_authenticated and user.is_superuser and not review.hidden %}
                    <a href="{% url 'hide_review' review.uid %}">
                        <button class="btn"><i class="fa-solid fa-eye-slash"></i> Hide</button>
                    </a>
                    {% elif user.is_authenticated and user.is_superuser and review.hidden %}
                    <a href="{% url 'hide_review' review.uid %}">
                        <button class="btn"><i class="fa-solid fa-eye-slash"></i> Unhide</button>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_buttons_script.html' %}
{% endblock %}