{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<div class="container mb-2">
    <div class="row justify-content-center card">
        <div class="col-8 col-md-7 my-auto card-body">
            <h1 class="display-4 logo-font text-black">
                Create A New Support Ticket
            </h1>
            {% if user.is_authenticated %}
            <p>
                Please fill in your information, including the problem you're having and your order number (if applicable).
                A site administrator will help you as soon as possible.
            </p>

            <form id="ticket-form" method="post">
            {{ ticket_form | crispy }}
            {% csrf_token %}
            <button id="submit-button" type="submit"
                class="btn btn-signup btn-lg">Submit Post</button>
            </form>
            {% else %}
            <p>To create a ticket, please create an account using the link below.</p>
            <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %} 
        </div>
    </div>
</div>
{% endblock content %}